
											<!--　メイン　-->
 <div class="main-wrapper">
      <%= image_tag("main.jpg", :class=>"main-image")%>
      <%= image_tag("strong.png", :class=>"strong-point")%>
      <p class="trams-45">今行きたいの</br>きっかけ作りを</p>
        <h2 class="main-text">MEOで店舗サービス集客に革命</br>
                絶対やるべきその理由とは？</h2>
      <%= image_tag("mobile1.png", :class=>"main-phone")%>
 </div>

</br>

      
									<!--　問い合わせはこちら　-->
   <div class="ques-wrapper">
      <%= link_to '/contact' do%>
 		<%= image_tag("ques.jpeg", :class => "ques")%>
 	  <%end%>
   </div>

<hr>

						<!--　『MEO＝マップ検索エンジン最適化』　-->
   <div class="base-wrapper">
        <div class="heading"><h2><span>MEO</span>ってそもそも何？</h2>
        <h3>MEO = Googleマップ検索エンジン最適化</h3></div>
        </br></br></br>
            <%= image_tag("site.png", :class => "image-left")%>
            <div class="search">
                <form id="form1" action="自分のサイトURL">
                <input id="sbox"  id="s" name="s" type="text" placeholder="銀座　イタリアン" />
                <input id="sbtn" type="submit" value="検索" />
            </form>
        
                <p class="list-right">Googleが新たに提供を開始した検索サービスで、地域の検索を行う事に特化した新たなサービスで、通常の検索結果より上部に表示されます。このユーザー層は、目的地が決まっており、内容選定を行うために利用する検索となりますので、通常の検索結果より高い効果を実感することができる。</p>  
                <div class="clear"></div>
  </div>
</br></br>
<hr>


						<!--　集客のこんなお悩み抱えていませんか？　-->
   <div class="base-wrapper">
        <div class="heading"><h2><span>集客</span>のこんなお悩み抱えていませんか？</h2>
        <h3>オーナー様の課題</h3></div>
            <%= image_tag("nayamu.jpg", :class => "image-right")%>
        
                <p class="list-left">
                ✅お店をもっと知って貰うきっかけが欲しい</br></br>
                ✅大手集客広告を利用しているが料金が高い</br></br>
                ✅大手集客広告の固定利用料がネック</br></br>
                ✅新しい情報をお客様に伝えたい</p> 
                <div class="clear"></div>
  </div>
</br></br>
<hr>
  

  
  			            <!--　上位３位以内で高い集客率を誇ります　-->  
  <div class="base-wrapper">
        <div class="heading"><h2><span>上位３位以内</span>で高い集客率を誇ります</h2>
        <h3>MEOで上位表示出来るとこうなります</h3></div>
     <div class="comparison">
        <%= image_tag("comparison.jpeg", :class => "image-left")%>
            
     </div>
     <div class="list-right-comparison">
     <h3 class="small-header"><div class="green">リスティング広告</div></h3>
     <p>ログインなしの場合、１番目にリスティング広告が表示されます。リスティング広告とは、検索における広告であり、クリックされる毎に課金されます。</p>  
     <h3 class="small-header"><div class="blue">MEO</div></h3>
     <p>google検索における最新機能のMEO。ログインなしでも２番目、ログインありなら１番目に表示され、SEOのテキストリンクが情報を目的とした検索に強いとされる中、MEOでは実際に行動するユーザーに対して大きな効果を発揮します。</p>  
     <h3 class="small-header"><div class="red">SEO</div></h3>
     <p>古くから対策がされているSEO。テキストリンク型となり、現在MEOの登場によりクリック率が下降線を辿っているが、まだまだ企業HPや情報サイトには絶大な効果がある。</p>  
     </br>
     <p class="comparison-text">「地域×業種」で検索された際、Googleログインをしていないユーザーの検索結果画面には1番上に、Googleログインしている場合でもSEOより上位にGoogle Mapは表示されます。一般的に4%程度のクリック率と言われているリスティング広告と比較し、MEOは検索結果の表示される部分の優位性からも4〜9%程度の高いクリック率と言われています。検索結果画面を独占でき、表示される部分の優位性からも高いクリック率でユーザーを獲得できるMEO対策は、ローカルビジネスを展開する企業様・事業主様には必要不可欠な施策となっています。</p>
                <div class="clear"></div>
  </div>
</br></br>
<hr>


						<!--　利便性の高い高機能で行動しやすい　-->
   <div class="base-wrapper">
        <div class="heading"><h2><span>利便性</span>の高い高機能で行動しやすい</h2>
        <h3>ユーザーの動きが分かりやすく行動に繋がりやすい</h3></div>
        <div class="user-action">
            <%= image_tag("mobile1.png", :class => "three-image1")%>
            <%= image_tag("mobile2.png", :class => "three-image2")%>
            <%= image_tag("mobile3.png", :class => "three-image3")%>
            <%= image_tag("back-image.png", :class => "back-image")%>
        </div>
                <div class="clear"></div>
  </div>
</br></br>
<hr>
  


						<!--　『MEO＝マップ検索エンジン最適化』　-->
   <div class="base-wrapper">
        <div class="heading"><h2><span>多彩な機能</span>をご紹介</h2>
        <h3>ユーザー機能</h3></div>
            <%= image_tag("mobile2.png", :class => "smart-image")%>    
                <div class="list-right-second">
                    <h4><span>❶</span>店舗基本情報表示</h4>
                        <p>店舗名、電話番号、住所等の店舗情報が表示されます。</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❷</span>Google Map表示</h4>
                        <p>位置情報で店舗の住所まで案内してくれます</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❸</span>口コミ投稿</h4>
                        <p>訪問したお客様のレビューが投稿されます</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❹</span>WEBサイトリンク</h4>
                        <p>自社のサイトへのリンクを貼ることが出来ます</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❺</span>ワンクリック発信</h4>
                        <p>ボタン一つでお店に電話をかけられます</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❻</span>メニュー表掲載</h4>
                        <p>店舗メニューをMEOでも掲載できます</p>
                </div>
                <div class="list-right-second">
                    <h4><span>❼</span>紹介文掲載</h4>
                        <p>お店の紹介文を掲載できます</p>
                </div>  
                <div class="clear"></div>
  </div>
</br></br>
<hr>

   
   				             	<!--　料金は安心の成果報酬制　-->
        <div class="heading"><h2><span>料金</span>は安心の成果報酬制</h2>
        <h3>初期費用無料・成果報酬のみ</h3></div>
            <div class="group-three">
                <%= image_tag("en.png", :class => "three-paragraph")%>
                <h3>料金</h3>
                <h4><span>1500円</span> / 日</h4>
                <p>Googleが新たに提供を開始した検索サービスで、</p>
            </div>
            <div class="group-three">
                <%= image_tag("sunadokei.jpg", :class => "three-paragraph")%>
                <h3>契約期間</h3>
                <h4><span>6ヶ月契約</span></h4>
                <p>Googleが新たに提供を開始した検索サービスで、</p>
            </div>
            <div class="group-three">
                <%= image_tag("4key.png", :class => "three-paragraph")%>
                <h3>対策数</h3>
                <h4><span>４キーワード</span></h4>
                <p>Googleが新たに提供を開始した検索サービスで、</p>
            </div>  
</br></br>
<hr>

  
   
   				             	<!--　料金は安心の成果報酬制　-->
   	<div class="base-wrapper">
      <div class="heading"><h2><span>キーワード設定</span>の一例</h2>
         <h3>初期費用無料・成果報酬のみ</h3></div>
            <%= image_tag("four-keyword", :class => "key-image")%>
        <p class="key-text">Googleが新たに提供を開始した検索サービスでGoogleが新たに提供を開始した検索サービスでGoogleが新たに提供を開始した検索サービスでGoogleが新たに提供を開始した検索サービスで</p>
    </div>
</br></br>
<hr>


   				             	<!--　導入までの流れ　-->
        <div class="heading"><h2><span>導入</span>までの流れ</h2>
        <h3>導入までの流れは以下の簡単４STEP</h3></div>
            <div class="group-four">
                <h3>❶申込</h3>
                <p>当MEOサイトの申し込みフォームより、契約約款に必要情報を入力の上、送信をお願いします。</p>
            </div>
            <div class="group-four">
                <h3>❷作成</h3>
                <p>御社のお電話番号宛に音声メッセージIDを送信するご連絡が入ります。企業の本人確認となりますので、会社に連絡が入り次第、当社へお知らせ下さい。</p>
            </div>
            <div class="group-four">
                <h3>❸確認</h3>
                <p>其の２が完了後、弊社よりMEOサイトの制作に入らせて頂きます。完了後御社にご連絡差し上げますので、内容に修正が必要でしたらお申し上げ下さい。</p>
            </div>
            <div class="group-four">
                <h3>❹開始</h3>
                <p>確認完了後、翌月１日より料金が発生となります。その日以前に上位表示される場合も十分に御座いますが、料金発生の対象とはなりませんのでご安心下さい。</p>
            </div>
            </br></br>
<hr>
   
						<!--　全国のお客様に対応します　-->
   <div class="base-wrapper">
        <div class="heading"><h2><span>全国</span>のお客様に対応します</h2>
        <h3>47都道府県どこのお客様でも対応致します</h3></div>
            <%= image_tag("47.jpg", :class => "image-left-47")%>
                <p class="list-right">Googleが新たに提供を開始した検索サービスで、地域の検索を行う事に特化した新たなサービスで、通常の検索結果より上部に表示されます。このユーザー層は、目的地が決まっており、内容選定を行うために利用する検索となりますので、通常の検索結果より高い効果を実感することができる。</p>  
                <div class="clear"></div>
  </div>
</br></br>
<hr>   
   
    
									<!--　問い合わせはこちら　-->
   <div class="ques-wrapper">
      <%= link_to '/contact' do%>
 		<%= image_tag("ques.jpeg", :class => "ques")%>
 	  <%end%>
   </div>

<hr>



                                     <!--　以下フッター　-->
  <footer>
  	<p>MEOで店舗サービス集客に革命！徹底サポートならMEOコンサルティング！</p>
  </footer>
                         <!--　ジャバスクリプト読み込み　-->
					<script src="script.js"></script>
